
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=change-me-to-a-strong-secret
DATABASE_URL="file:./dev.db"

# Optional Sanity (to add later)
SANITY_PROJECT_ID=
SANITY_DATASET=production
SANITY_API_VERSION=2024-01-01
SANITY_READ_TOKEN=
